*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}


img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Popins', sans-serif;
  background-image: url(../src/img/background.png);
  background-size: cover 100%;
  background-repeat: no-repeat;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.footer-text {
  color: white;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
